.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 10px;
}

.item a {
  color: white;
  margin: 10px 0 0 5px;
  text-decoration: none;
}

.item a:hover {
    color: green;
    position: relative;
    left: 5px;
}

.item a.activeLink {
  color: gold;
  position: relative;
  left: -5px;
}